embed,
object,
iframe {
  max-width: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
}
.white {
  background-color: #eaebed;
}

.font-header {
  font-family: 'Ubuntu', sans-serif;
}
.font-para {
  font-family: 'Open Sans', sans-serif;
}
/* media scroller */
.media-scroller {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-scroller::-webkit-scrollbar {
  display: none;
}
/* sidebar*/
.custom-sidebar {
  width: 700px;
  position: fixed;
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
}
.custom-sidebar::-webkit-scrollbar {
  display: none;
}
.custom-map {
  position: fixed;
  top: 119px;
  width: calc(100% - 700px);
  bottom: 0;
  right: 0;
  left: auto;
}
.gmap_canvas {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#gmap_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.custom-map::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 768px) {
  .custom-sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .custom-map {
    margin-left: 0;
  }
  #gmap_canvas {
    display: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form {
    @apply relative block w-full appearance-none  border-0 border-b border-gray-300 px-3 py-2;
  }
  .activity_active {
    @apply grid place-items-center overflow-hidden text-xs sm:text-sm p-2 text-center items-center font-bold col-span-3 cursor-pointer rounded-lg border border-indigo-600 bg-indigo-100 hover:border-indigo-600;
  }
  .activity_inactive {
    @apply grid place-items-center text-xs sm:text-sm p-2 py-4  text-center items-center font-bold col-span-3 cursor-pointer rounded-lg border border-gray-300 bg-white hover:border-indigo-600;
  }
  .badge {
    @apply px-3 py-1 text-xs rounded-full bg-gray-100 border border-indigo-300 flex;
  }

  .custom_checkbox {
    @apply px-4 py-2 cursor-pointer text-xs rounded-full bg-gray-100 border border-indigo-300 inline peer-checked:bg-indigo-600 font-semibold  peer-checked:text-white;
  }
  .primary_button {
    @apply rounded-md px-4 py-2 text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
  }
  .primary_button_without {
    @apply rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
  }
  .primary_button_light {
    @apply border px-4 py-2 rounded-md border-indigo-600 bg-indigo-50 hover:bg-indigo-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
  }
  .dark_button {
    @apply rounded-md border border-slate-900 hover:text-white tracking-wider hover:bg-slate-900 focus:outline-none focus:ring-2 focus:ring-slate-700 focus:ring-offset-2;
  }
}
